<div id="footer-content-wrapper">
  <img src="assets/logo-icon.svg" alt="Natur1 Heilzentrum" id="footer-logo" />

  <ul>
    {{#is pageTitle 'index'}}
      <li><a href="/" class="active">Home</a></li>
    {{else}}
      <li><a href="/">Home</a></li>
    {{/is}}

    {{#is pageTitle 'ueber-uns'}}
      <li><a href="/ueber-uns" class="active">Über uns</a></li>
    {{else}}
      <li><a href="/ueber-uns">Über uns</a></li>
    {{/is}}

    {{#is pageTitle 'kontakt'}}
      <li><a href="/kontakt" class="active">Kontakt</a></li>
    {{else}}
      <li><a href="/kontakt">Kontakt</a></li>
    {{/is}}
  </ul>
</div>
