<meta charset="UTF-8" />
<title>Natur1 | {{ title }} | Osteopathie, Homöopathie, Bioresonanz und mehr in Düsseldorf</title>
<meta name="description" content="{{ description }}">

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="css/theme.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/nav-mobile.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
