<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
  <div id="wrapper">
    <section id="top-bar">
    </section>

    <header>
      <img src="" alt="natur1 Naturheilzentrum" id="logo" />
      <nav></nav>
    </header>

    <section id="hero">
      <h1>Die modernsten Lösungen und Möglichkeiten &ndash;<br />
          für Ihre Beschwerden.</h1>
      <p>
        Auch und gerade für komplexe, schwierige und außergewöhnliche Krankheitsgeschehen.
        Unser besonderes therapeutisches Augenmerk gelten der <strong>Osteopathie</strong>, der <strong>Schmerztherapie</strong>, der traditionellen <strong>chinesischen Medizin</strong> und der klassichen <strong>Homöopathie</strong>.
      </p>
    </section>

    <main>
      <section id="content">
        <section class="home-section grey first">
          <h1>Unsere Spezialisierungen</h1>
            <p>
                Durch unsere 30-jährige Erfahrung als Heilpraktiker, klassiche Homöopathen und Osteopathen  konnten wir uns auf viele Gebiete der ganzheitlichen, naturheilkundlichen Verfahren spezialisieren.
            </p>
            <div class="full-width-container green">
                <div class="circles">
                    <div class="circle-wrapper">
                        <img src="storage/osteopathie.png" alt="Osteopathie" class="circle-image">
                        <h2>Osteopathie</h2>
                    </div>
                    <div class="circle-wrapper">
                        <img src="storage/akupunktur.png" alt="Akupunktur" class="circle-image">
                        <h2>Akupunktur / TCM</h2>
                    </div>
                    <div class="circle-wrapper">
                        <img src="storage/homoeopathie.png" alt="Homoeopathie" class="circle-image">
                        <h2>Homöopathie</h2>
                    </div>
                    <div class="circle-wrapper">
                        <img src="storage/bioresonanz.png" alt="Bioresonanz" class="circle-image">
                        <h2>Bioresonanz</h2>
                    </div>
                    <div class="circle-wrapper">
                        <img src="storage/schmerztherapien.png" alt="Schmerztherapie" class="circle-image">
                        <h2>Schmerztherapie</h2>
                    </div>
                </div>
            </div>
            <a href="#" class="button">Erfahren Sie mehr über unsere Leistungen</a>
        </section>

        <section class="home-section white">
          <h1>
                Über Natur1
            </h1>
            <p>
                Seit 1991 besteht das Naturheilzentrum Natur1 im Herzen Düsseldorfs, direkt am Carlsplatz.
        Im Zentrum unserer Tätigkeiten steht immer ein tiefes Verständnis des Patienten und seiner lebendingen Pathologie.
            </p>
            <div id="profile-card">
                <img src="storage/michaelclauss.png" alt="Therapeut Michael Clauss" id="circle-avatar">
                <h1>Michael D. Clauss</h1>
                <ul>
                    <li>Praktiziert seit 1987 als Heilpraktiker, klassischer Homöopath und Osteopath ganzheitliche, naturheilkundliche Verfahren.</li>
                    <li>Gründete 1991 das Naturheilzentrum Natur1 in Düsseldorf, zentral gelegen direkt am Carlsplatz.</li>
                    <li>Ausbildung in klassischer Homöopathie, Akupunktur, traditionell chinesischer Medizin, Chiropraktik und vielem mehr.</li>
                </ul>
                <div style="text-align: center;">
                    <a href="#" class="button">Mehr über mich</a>
                </div>
            </div>
        </section>

        <section class="home-section grey">
          <h1>So finden Sie uns</h1>
            <p>
                Carlsplatz 18<br />
            40213 Düsseldorf<br />
            U-Bahn: Benrather Straße
            </p>
            <iframe id="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB7ny441Z74KpZVzpzL81H1WNtfIFWEMPc
            &q=Carlsplatz+18,Düsseldorf" allowfullscreen></iframe>
        </section>
      </section>
    </main>

    <img src="" class="curved-lines footer">
    <footer>
      <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
    </footer>
  </div>

</body>
</html>
