footer {
  padding: 2.5em 0 3.5em 0;
  width: 100%;
  margin: 0;
  background: $light-grey;
  height: 100px;
  margin-top: -5px;

  #footer-content-wrapper {
    text-align: center;

    #footer-logo {
      display: block;
      margin: 0 auto;
      height: 3em;
    }

    ul {
      padding: 0;
      padding-top: 0.7em;
      display: inline-block;
      list-style-type: none;

      li {
        float: left;
        padding-right: 1em;
      }
    }
  }
}
