html, body {
  margin: 0;
  padding: 0;
}

main {
  @include grid-container;

  #content {
    @include grid-column(12);
    @include grid-collapse;
  }
}

#wrapper {
  overflow: hidden;
}

#content {
  section {
    padding: 20px 100px 40px 100px;
    clear: both;
  }
}

#top-bar {
  @include grid-column(12);
  width: calc(100% - 20px);
  margin-left: 0;
  height: 40px;
  font-size: 13px;
  line-height: 18px;
  padding-left: 20px;
  background: $light-grey;
  border-bottom: 2px solid $ci-green;

  ul {
    li {
      list-style: none;
      float: left;
      margin-right: 20px;

      .icon {
        color: $ci-green;
        margin-right: 5px;
      }
    }
  }
}

header {
  @include grid-column(12);
  width: calc(100% - 60px);
  margin-left: 0;
  height: 60px;
  padding: 55px 0 0 60px;

  #logo {
    display: block;
    float: left;
    width: 185px;
    height: 62px;
  }

  nav {
    float: left;
    margin-left: 40px;

    ul {
      list-style-type: none;
      position: relative;

      li {
        float: left;
        padding: 10px 15px 10px 15px;
        margin-right: 20px;
        font-size: 18px;
        top: 25%;
        transform: translateY(-25%);

        &.active {
          border: 1px solid $ci-green;
          border-radius: 100px;

          a {
            color: black;
          }
        }

        a {
          text-decoration: none;
          color: $nav-grey;
        }
      }
    }
  }
}

#hero {
  @include grid-column(12);
  width: calc(100% - 60px);
  padding: 40px 0px 0 60px;
  margin-left: 0;
}
.curved-lines {
  margin-top: -50px;
  width: 100%;
  height: 192px;

  &.footer {
    transform: scaleX(-1.1);
    filter: FlipH;
    margin-top: 50px;
  }
}

footer {
  @include grid-column(12);
  @include grid-collapse;
  background: $light-grey;
  margin-top: -5px;
  height: 100px;
}
