button {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  color: black;
  appearance: none;
  border: 2px solid $ci-green;
  border-radius: 5px;
  background-color: transparent;
  height: 3em;
  padding: 0 1em 0 1em;
  font-size: 1em;
  transition: all 0.5s;

  &.send {
    &:after {
      font-family: "fontawesome";
      content: '\f1d9';
      color: $ci-green;
      font-weight: lighter;
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.5em;
    }
  }

  &:hover {
    cursor: pointer;
    border: 2px solid $ci-green-dark;
  }
}

.button {
  -webkit-appearance: none;
  display: table;
  height: 30px;
  line-height: 40px;
  display: inline-block;
  border: 2px solid $ci-green;
  border-radius: 5px;
  padding: 0 15px 10px 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all 0.5s;

  &:after {
    content: '\203A';
    font-weight: lighter;
    color: $ci-green;
    margin-left: 10px;
    transition: all 0.5s;
  }

  &:hover {
    border-color: $ci-green-dark;

    &:after {
      color: $ci-green-dark;
    }
  }
}

input {
  border: 2px solid $ci-green;
  padding: 1em;
  border-radius: 5px;
  background: none;
  font-size: 0.9em;
}

textarea {
  border: 2px solid $ci-green;
  padding: 1em;
  border-radius: 5px;
  background: none;
  font-size: 0.9em;
  width: 100%;
  height: 10em;
  box-sizing: border-box;
}
