#content {
  section {
    &:first-child {
      margin-top: -5px;
    }

    &:nth-child(odd) {
      background-color: $light-grey;
    }

    #map {
      @include grid-container;
      @include grid-collapse;

      //width: calc(100% + 160px);
      height: 400px;
      padding-top: 50px;
      background: $light-grey;

      iframe {
        width: 100%;
        height: 400px;
      }

      #overlay {
        background: transparent;
        position: relative;
        width: 100%;
        height: 400px;
        top: 400px;
        margin-top: -400px;
      }
    }

    .full-width-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 300px;
      margin: 50px 0 0 -80px;
      padding: 25px 80px 25px 80px;

      &.green {
        background-color: $ci-green;
      }

      .circles {
        /* display: flex;
        align-items: center;
        flex-wrap: wrap; */

        @include grid-container;
        width: 100%;

        .circle-wrapper {
          @include grid-media($phone-portrait-and-up) {
            @include grid-column(3 of 6);
          }

          @include grid-media($tablet-portrait-and-up) {
            @include grid-column(4 of 12)
          }

          @include grid-media($desktop-small-and-up) {
            @include grid-column(2.4 of 12);
          }

          .circle-image {
            @include grid-media($phone-portrait-and-up) {
              height: 100px;
              width: 100px;
            }

            @include grid-media($tablet-portrait-and-up) {
              height: 130px;
              width: 130px;
            }

            @include grid-media($desktop-small-and-up) {
              height: 150px;
              width: 150px;
            }

            height: 140px;
            width: 140px;
            border-radius: 50%;
            border: 9px solid white;
            box-shadow: $shadow-normal;
            transition: all 0.5s;

            &:hover {
              box-shadow: $shadow-hover;
            }
          }
        }
      }
    }

    #profile-card {
      @include card;
      float: none !important;

      @include grid-media($phone-portrait-and-up) {
        @include grid-column(6 of 6);
        ul {
          padding: 0 20px 0 20px;
      }
      }

      @include grid-media($tablet-portrait-and-up) {
        @include grid-column(10 of 12);
        @include grid-shift(1);
        ul {
          padding: 0 60px 0 60px;
      }
      }

      #circle-avatar {
        display: block;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 4px solid white;
        box-shadow: $shadow-normal;
        margin: 0 auto;
        margin-top: -35px;
      }
    }
  }
}
