#hero {
  h1 {
    font-size: 1.6em;
    max-width: 560px;
  }

  p {
    color: $hero-text;
    max-width: 800px;
    font-size: 1.1em;
    line-height: 1.6em;
    margin: 0;

    &.hero-headline {
      color: #000;
      font-size: 1.6em;
      max-width: 22em;
      margin-bottom: 1em;
    }
  }
}

#content {
  section {
    &.about {
      ul {
        position: relative;
        padding-top: 0.8em;
        padding-bottom: 0.8em;

        &:before {
          content: '';
          width: 4px;
          background: $medium-grey;
          height: 100%;
          position: absolute;
          left: 41px;
          top: 0;
        }
      }
    }

    h1 {
      font-size: 1.6em;
    }

    p {
      color: $hero-text;
      max-width: 800px;
      font-size: 1.1em;
      line-height: 1.6em;
      margin: 0;
    }

    ul {
      list-style-type: none;

      li {
        position: relative;
        line-height: 1.5em;
        margin: 0 0 25px 40px;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '\25CF';
          color: $ci-green;
          font-size: 1.7em;
          position: absolute;
          left: -45px;
        }
      }
    }
  }
}

footer {
  a {
    color: $nav-grey;
    text-decoration: none;

    &:hover {
      color: black;
    }

    &.active {
      color: black;
      border-bottom: 1px solid $ci-green;
    }
  }
}

.circle-wrapper {
  text-align: center;

  h2 {
    font-size: 1em;
  }
}

#profile-card {
  h1 {
    text-align: center;
  }
}

.button {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
