/* Colors */
$ci-green: #9CC51E;
$ci-green-dark: #6F8D13;

$medium-grey: #D6D6D6;
$light-grey: #F5F5F5;
$super-light-grey: #FAFAFA;

$nav-grey: #5F5F5F;

$hero-text: #5F5F5F;


/* Shadows */
$shadow-normal: 0 7px 25px 0 rgba(0,0,0,0.5);
$shadow-hover: 0 7px 25px 0 rgba(0,0,0,0.8);

$shadow-light: 0 7px 25px 0 rgba(0,0,0,0.15);
$shadow-light-hover: 0 7px 25px 0 rgba(0,0,0,0.35);


/* Mixins */
@mixin circle-image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 9px solid white;
  box-shadow: $shadow-normal;
  transition: all 0.5s;
}
