/* Colors */
$ci-green: #9CC51E;
$ci-green-dark: #6F8D13;

$medium-grey: #D6D6D6;
$light-grey: #F5F5F5;
$super-light-grey: #FAFAFA;

$nav-grey: #5F5F5F;

$hero-text: #5F5F5F;


/* Shadows */
$shadow-normal: 0 7px 25px 0 rgba(0,0,0,0.5);
$shadow-hover: 0 7px 25px 0 rgba(0,0,0,0.8);

$shadow-light: 0 7px 25px 0 rgba(0,0,0,0.15);
$shadow-light-hover: 0 7px 25px 0 rgba(0,0,0,0.35);

/* Spacings */
$gutter-vertical: 20px;

/* Responsive */
$phone-portrait-and-up: (
    columns: 6,
    gutter: 10px,
    media: 320px,
);

$tablet-portrait-and-up: (
    columns: 12,
    gutter: 20px,
    media: 768px,
);

$desktop-small-and-up: (
    columns: 12,
    gutter: 20px,
    media: 1024px,
)